.project-section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: bree serif;
}

.project-section > h1 {
  font-size: 30px;
}

.projects-container {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-container li {
  margin-bottom: 50px;
  display: flex;
  border-radius: 6px;
  border: 1px solid rgb(186, 178, 178);
  overflow: hidden;
  min-height: 300px;
  max-width: 700px;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.project-image {
  width: 50%;
  @media screen and (max-width: 768px) {
    width: 100%;
    height: 300px;
    order: -1 !important;
  }
}

.project-details {
  width: 50%;
  padding: 20px;
  align-self: center;
  @media screen and (max-width: 768px) {
    width: auto;
    padding: 20px !important;
    align-self: flex-start;
  }
}

.project-details p {
  color: rgb(88, 85, 85);
}

.view-project-btn {
  border: 2px solid grey;
  border-radius: 18px;
  height: 35px;
  width: 120px;
  cursor: pointer;
  transition: 0.5s;
}
.view-project-btn:hover {
  color: blue;
  border: 2px solid blue;
}
